body,html {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  background: url("../assets/images/landing-back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  font-size: 17px;
}
h1{
  font-size: 45px;
}

/*-----------------------------------------The Navbar--------------------------------*/
.topnav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  background-color: #F5FFFA;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.4s;
  z-index: 1;
}

.topnav a {
  float: left;
  display: block;
  /*color: #f2f2f2;*/
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #FF6138;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*-------------------------------The Landing Page----------------------------------------------*/
.landing{
  height: auto;
  background: url("../assets/images/landing-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-landing {
  float: left;
  width: 40%;
  padding-left: 10%;
  font-family: Arial, Helvetica, sans-serif;

  overflow: hidden;
  z-index: -1;
}
.title-text{
  font-size: 70px; 
  font-weight: bold; 
  text-shadow: 2px 2px  #f4511e;
  margin-top: 100px;

  padding-right: 25px;
}
.slide-landing {
  float: right;
  width: 40%;
  overflow: hidden;
  /*padding-left: 10px;*/
  padding-right: 10%;
  z-index: -1;
}

.btn{
  transition: transform .3s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 300px;
  height: 60px;
  line-height: 50px;  
  background-color: #FF6138;
  border-radius: 8px;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.btn:hover {
  transform: scale(0.9);
}

.avatar{
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  &:before{
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    opacity: .4;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-name: hover-shadow;
    animation-name: hover-shadow;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }

  50% {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}


/*landing mobile responsive*/
/* ----------- Galaxy S4, S5 and Note 3 ----------- */
@media only screen and (max-width:768px) {
  /* For tablets:*/ 
  .slide-landing,.title-landing {
    width: auto;
    padding: 0;
  }
  .landing{
    height: auto;
  }
/*cut*/
  .title-text{
    text-align: center;
    font-size: 50px;
    padding-left: 35px;
  }
  .title-p{
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .btn{
    text-align: center;
    width: 200px;
  }
}
@media only screen and (min-width:360px) {
   /*For mobile phones: */
  .slide-landing, .title-landing, {
    width: auto;
  }
  .landing{
    height: auto;   
  }
  .title-text{
    text-align: center;
    font-size: 50px;
    padding-left: 35px;
  }
  .title-p{
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .btn{
    text-align: center;

    width: 200px;
  }
}

/*------------------------------------------INTRO----------------------------------------------*/
.intro{
  height: 100vh;
  background: #F0FFF0;
}
.img-intro{
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 64%;
  padding-top: 100px;
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */
@media only screen and (max-width:768px) {
  /* For tablets:*/ 
  .intro{
    height: auto;
  }
   .img-intro{
    height: auto;
  }
}
@media only screen and (min-width:360px) {
   /*For mobile phones: */
  .img-intro{
    height: auto;
  }
  .intro{
    height: auto;   
  }
}


/*--------------------------------The About Page-----------------------------------------------*/
.about{
  height: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.aboutContainer{
  padding-top: 60px;
  width: auto;
}
.about{
  width: auto;
}
.content-about {
  margin: auto;
  width: 50%;
  padding: 10px;
}
@media only screen and (max-width:768px) {
  /* For tablets:*/ 
  .content-about {
    width: auto;
    padding: 0;
  }
}
@media only screen and (max-width:360px) {
   /*For mobile phones: */
  .img-about, .content-about, {
    width: auto;
  }
  .about{
    height: auto;
  }
  .content-about{
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*--------------------------------------The Gallery Page------------------------------------------------*/
.gallery{
  height: auto;
  background: #F0FFF0;
}
.galleryContainer{
  text-align: center;
  height: auto;
}
.galleryPaging{
    text-align: center;
    padding-bottom: 20px;
}
/*img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3px;
}
img:hover{
  box-shadow: 3px 3px 3px #2F4F4F;

}*/
.img-art{
  height: 380px; 
  width: 250px;
  margin: 10px;
}
.img-art:hover {
  animation: shake 0.9s;
  animation-iteration-count: initial;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.tablink {
  background-color: #555;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 10px;
  width: 3%;
  text-align: center;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  height: 100%;
  z-index: -1;
}
/* ----------- Galaxy S4, S5 and Note 3 ----------- */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    .gallery{
      height:430vh;
    }
    .galleryContainer{
      height: 390vh;
    }
    .form-contact{
      justify-content: center;
    }
    .display-flex{
      display: block;
    }
}

/*-------------------------------------CONTACT PAGE---------------------------------------------*/

.contact{
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #FF6138;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  height: 60px;
   font-size: 17px;
}

input[type=submit]:hover {
  background-color: #FF6347;
}

.container {
  border-radius: 5px;
  padding: 20px;
}


/*--------------------------------The FOOTER------------------------------------*/
.footer{
  /*background: #F5F5DC;*/
  height: 50vh;
}
.some-page-wrapper {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.orange-column {
  
  height: auto;
}

.blue-column {
}

.green-column {
  
  height: auto;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1
  }

  .double-column {
    flex: 2
  }

  .footer{
    height: auto;
  }
}
@media screen and (min-width: 360px) {
  .footer{
    height: auto;
  }
  iframe {
    width: 300px;
  }
}

}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:45px;
  display:inline-block;
  line-height:55px;
  width:55px;
  height:55px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.instagram:hover
{
  background-color:#FF4500
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

